---
title: Home
layout: default
---

<div class="card text-center mb-3">
    <div class="card-text">
        <img src="{{ '/images/DDS logo.jpg' | relative_url }}" alt="Data and Digital Services Logo" width="75%">
        <p>Welcome to the DDS workflow repository, where you'll find information relating to daily procedures as they apply to various tasks.</p>
    </div>
</div>

{% include clock.html %}

<div class="row mb-3">
    <div class="col-sm-8">
        {% include calendar.html %}
    </div>    
    <div class="col-sm-4">
            <div class="card mb-3">
                    <div class="card-header text-center">
                        <h5>Quick Links:</h5>
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="https://vandalweb.uidaho.edu/" target="_blank" method="noopener">Vandal Web</a> (payroll)</li>
                            <li><a href="https://www.lib.uidaho.edu/digital/" target="_blank" method="noopener">UI Digital Initiatives Home</a></li>
                            <li><a href="http://www.getty.edu/research/tools/vocabularies/aat/" target="_blank" method="noopener">Art & Architecture Thesaurus</a></li>
                            <li><a href="https://poetry.lib.uidaho.edu/" target="_blank" method="noopener">Vandal Poem of the Day</a></li>
                        </ul>
                    </div>    
                </div>
    </div>
</div>


<div class="row mb-3">
    <div class="col-sm-6">
        {% include uilibrary-twitter-feed.html %}
    </div>
    <div class="col-sm-6">
        {% include vpod-twitter-feed.html %}
    </div>
</div>    


